.env
.env.local
.env.testing
.env.*.local

backend-laravel/vendor/
backend-laravel/storage/*.key
backend-laravel/public/storage
backend-laravel/bootstrap/cache/

frontend-react/node_modules/
frontend-react/dist/

.DS_Store
Thumbs.db